<!--<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let tempEvent of events">
        <div class="card h-100">
            <a routerLink="/event/{{ tempEvent.id }}" routerLinkActive="active"><img class="card-img-top"
                alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a routerLink="/event/{{ tempEvent.id }}" routerLinkActive="active">  {{ tempEvent.name }}</a>
                </h4>
                <h5> Ingresso: R$ {{ tempEvent.price }} </h5>
                
            </div>
            <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733;
                    &#9733; &#9734;</small>
            </div>
        </div>
    </div>
</div>-->

<div class="eventos">
    <div class="evento" *ngFor="let tempEvent of events">
      <img [src]="tempEvent.imageUrl" alt="Evento 1">
      <div class="evento-info">
        <h3>{{ tempEvent.name }}</h3>
        <p>{{ tempEvent.description }}</p>
        <a routerLink="/event/{{ tempEvent.id }}" routerLinkActive="active" class="btn btn-primary">
          <i class="bi bi-cart"></i> Comprar
        </a>
      </div>
    </div>
  </div>